# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
<FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
<FilesMatch "\.(js)$">
Header set Cache-Control "max-age=2592000, private"
</FilesMatch>
<filesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=7200, public"
</filesMatch>
# Enleve le cache pour les ressources dynamiques
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>
</IfModule>
# END Cache-Control Headers
# BEGIN Expires Headers
<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresByType image/jpg "access plus 31536000 seconds"
 ExpiresByType image/jpeg "access plus 31536000 seconds"
 ExpiresByType image/png "access plus 31536000 seconds"
 ExpiresByType image/bmp "access plus 31536000 seconds"
 ExpiresByType image/woff "access plus 31536000 seconds"
 ExpiresByType image/ico "access plus 31536000 seconds"
 ExpiresByType text/css "access plus 31536000 seconds"
 ExpiresByType text/javascript "access plus 31536000 seconds"
 ExpiresByType text/html "access plus 604800 seconds"
</IfModule>
# END Expires Headers